.card-section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.card {
  border: 1px solid brown;
  border-radius: 12px;
  text-align: center;
  margin: 8px;
}

.card img {
  border-radius: 12px 12px 0 0;
}